@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #020617;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  list-style: none;
  font-family: "Poppins", sans-serif;
}

a {
  font-weight: 500;
  color: #f9f9f9;
  text-decoration: inherit;
  transition: ease all 0.3s;
}
a:hover {
  color: #f9f9f9f1;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}
button {
  border-radius: 2rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.1em;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #1e293b;
  background-color: #61dbfb;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
