<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 85aee16b9a4d1527e6218e9d9f414574201d2a63
.header-container {
  height: max-content;
  width: 500px;
}
<<<<<<< HEAD
=======
=======
.header-container{
    width: 500px;
    height: max-content;    
}
>>>>>>> 0d03b6c243cf3d6c9d7507e10c6693e5993a03e5
>>>>>>> 85aee16b9a4d1527e6218e9d9f414574201d2a63
