<<<<<<< HEAD
=======
<<<<<<< HEAD
.siderbar-container {
  width: 12rem;
  min-height: 100vh;
  background-color: #0f172a;
  border-radius: 0 2rem 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-sidebar {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
}
span {
  color: #61dbfb;
}
=======
>>>>>>> 85aee16b9a4d1527e6218e9d9f414574201d2a63
.siderbar-container{
    width: 12rem;
    min-height: 100vh;
    background-color: #0F172A;
    border-radius: 0 2rem 2rem 0;
<<<<<<< HEAD
}
=======
}
>>>>>>> 0d03b6c243cf3d6c9d7507e10c6693e5993a03e5
>>>>>>> 85aee16b9a4d1527e6218e9d9f414574201d2a63
