<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 85aee16b9a4d1527e6218e9d9f414574201d2a63
.user-container {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  margin-right: 1rem;
  line-height: 0.5rem;
}
.icons {
  color: white;
}
#bell {
  width: 1.5rem;
  height: auto;
}
#arrow {
  width: 2.2rem;
  height: auto;
}
#user {
  width: 3.2rem;
  height: auto;
}
<<<<<<< HEAD
.paragraph {
  color: #94a3b8;
}
=======
#bell,
#arrow {
  cursor: pointer;
}
.paragraph {
  color: #94a3b8;
}
=======
.user-container{
    display: flex;
align-items: center;
gap: 2rem;
margin-right: 3rem;
}
.icons{
    color: white;
}
#bell{
    border: 1px solid red;
}
#user{
    border: 1px solid red;
}
.paragraph{
    color: #94A3B8;
}
>>>>>>> 0d03b6c243cf3d6c9d7507e10c6693e5993a03e5
>>>>>>> 85aee16b9a4d1527e6218e9d9f414574201d2a63
