.widget-items {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* margin-left: 1rem; */
}
.widget-dashboard,
.widget-users {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: ease all 0.3s;
}
.widget-box {
  display: flex;
  align-items: start;
  padding: 0rem 1rem;
  border-radius: 0 1rem 1rem 0;
  transition: ease all 0.3s;
}
ul {
  padding: 0;
}

.widget-dashboard.active a {
  color: #61dbfb;
}

.widget-users.active a {
  color: #61dbfb;
}
.widget-box.active {
  background-color: blanchedalmond;
}
/* .active {
  background-color: blanchedalmond;
} */
